* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// HEADER 
#header {
    padding: 0 5rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
@media(max-width: 426px) {
    #header {
        padding: 0 2rem;
    }
}

// HERO-SECTION 
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    &-div1 {
        display: flex;
        align-items: center;
        gap: 1rem;

        & h3 {
            color: red;
        }

        & img:nth-of-type(1) {
            width: 25%;
        }
       
        & img:nth-of-type(2) {
            width: 10%;
        }
    }

    &-div2 {
        display: flex;
        align-items: center;
        gap: 1rem;

        & h3 {
            color: red;
        }

        & div {
            display: flex;
            align-items: center;

            & h3 {
                color: lightgrey;
            }
        }
    }
}
@media(max-width: 426px) {
    .hero-section {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
    
        &-div1 {
    
            & h3 {
                display: none;
            }
    
            & img:nth-of-type(1) {
                width: 60%;
            }
           
            & img:nth-of-type(2) {
                display: none;
            }
        }
    
        &-div2 {
    
            & h3 {
                display: none;
            }

            & div {
                display: flex;
                align-items: center;
                
                & img:nth-of-type(2) {
                    display: none;
                }

                & h3 {
                    display: none;
                }
            }
        }
    }
}

#bite { 
    width: 100%;
    padding-bottom: 1.5rem;
}

// MAIN SECTION 
#main {
    margin: 0 5rem ;
    max-width: 1440px;
}
@media(max-width: 426px) {
    #main {
        margin: 0 2rem ;
        max-width: 426px;
    }
}

.main-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 5rem;
}
@media(max-width: 426px) {
    .main-sec {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

#jazzy {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(./images/don\ jazzy.png);
    background-size: cover;
    width: 22rem;
    border-radius: 10px;
}
@media(max-width: 426px) {
    #jazzy {
        display: none;
    }
}

.burger-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 100%;

    &-div1 {
        position: relative;

        & img:nth-of-type(1) {
            width: 100%;
        }

        & img:nth-of-type(2) {
            position: absolute;
            top: 0;
            right: 0;
            padding: 3px;
        }
    }

    &-div2 {
        padding: 1rem .8rem;

        & h4 {
            padding-bottom: .8rem;
        }
        & div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & div:nth-of-type(1) {
                display: flex;
                flex-direction: column;

                & h4 {
                    color: lightgrey;
                }
            }

            & div:nth-of-type(2) {
                background-color: rgba(255, 0, 0, 0.395);
                justify-content: center;
                width: 40%;
                display: flex;
                border-radius: 5px;
                gap: 1rem;

                & img {
                    width: 20%;
                }
            }
        }

        & span {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;

            & img {
                width: 15%;
            }
        }

        & a {
            text-decoration: none;

            & button {
                background-color: red;
                color: white;
                border: none;
                display: flex;
                border-radius: .8rem;
                padding: .8rem 1.5rem;
                width: 100%;
                margin: 0 auto;
                align-items: center;
                font-size: 18px;
                justify-content: space-between;
                

                & img {
                    width: 15%;
                }
            }
        }
    }
}
@media(max-width: 426px) {
    .burger-container {
        &-div2 {
            & a {
                & button {
                    justify-content: space-around;
                }
            }
        }
    }
}

#see-more {
    display: none;
}
@media (max-width: 426px) {
    #see-more {
        display: block;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        text-decoration: none;

        & button {
            background-color: black;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 10px;
        }
    }
}


#footer {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    max-width: 1440px;
    padding: 2rem 5rem;
}

.footer-div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 426px) {
    .footer-div1 {
        flex-direction: column;
        gap: 3rem;
    }
}

.footer-div1-1 {
    display: flex;
    gap: 4rem;

    &-question {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-p {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            text-align: center;

            & p:nth-of-type(1) {
                font-weight: bold;
                font-size: 20px;
            }

            & p:nth-of-type(2) {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    &-lock {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-p {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            text-align: center;

            & p:nth-of-type(1) {
                font-weight: bold;
                font-size: 20px;
            }

            & p:nth-of-type(2) {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 426px) {
    .footer-div1-1 {
        gap: 2rem;
        flex-direction: column-reverse;
    
        &-question {
            align-items: center;
            gap: 1rem;
            flex-direction: column;

            & img {
                width: 8rem;
            }
    
            &-p {
                flex-direction: row;
                gap: .8rem;
                align-items: center;
    
                & p:nth-of-type(1) {
                    font-size: 50px;
                }
    
                & p:nth-of-type(2) {
                    font-size: 18px;
                }
            }
        }
    
        &-lock {
            align-items: center;
            gap: 1rem;
            flex-direction: column;

            & img {
                width: 8rem;
            }
    
            &-p {
                gap: .8rem;
                align-items: center;
    
                & p:nth-of-type(1) {
                    font-size: 50px;
                }
    
                & p:nth-of-type(2) {
                    font-size: 18px;
                }
            }
        }
    }
}

.footer-div1-2 {
    display: flex;
    gap: 4rem;

    &-apple {
        display: flex;
        align-items: center;
        gap: .5rem;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 0 1rem;
        justify-content: space-around;

        &-p {
            display: flex;
            flex-direction: column;
            gap: .2rem;

            & p:nth-of-type(1) {
                font-weight: bold;
                font-size: 16px;
            }

            & p:nth-of-type(2) {
                font-weight: bold;
                font-size: 20px;
            }
        }
    }

    &-google {
        display: flex;
        align-items: center;
        gap: .5rem;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 0 .5rem;
        justify-content: space-around;

        &-p {
            display: flex;
            flex-direction: column;
            gap: .2rem;

            & p:nth-of-type(1) {
                font-weight: bolder;
                font-size: 16px;
            }

            & p:nth-of-type(2) {
                font-weight: bolder;
                font-size: 20px;
            }
        }
    }
}
@media(max-width: 426px) {
    .footer-div1-2 {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    
        &-apple {
            display: flex;
            align-items: center;
            gap: .5rem;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 0 1rem;
            justify-content: space-around;
    
            &-p {
                display: flex;
                flex-direction: column;
                gap: .2rem;
    
                & p:nth-of-type(1) {
                    font-weight: bold;
                    font-size: 16px;
                }
    
                & p:nth-of-type(2) {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    
        &-google {
            display: flex;
            align-items: center;
            gap: .5rem;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 0 .5rem;
            justify-content: space-around;
    
            &-p {
                display: flex;
                flex-direction: column;
                gap: .2rem;
    
                & p:nth-of-type(1) {
                    font-weight: bolder;
                    font-size: 16px;
                }
    
                & p:nth-of-type(2) {
                    font-weight: bolder;
                    font-size: 20px;
                }
            }
        }
    }
}

.footer-div2 {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    & a {
        color: white;
    }
}
@media(max-width: 426px) {
    .footer-div2 {
        font-size: 20px;
        text-align: center;

        & p:nth-of-type(1) {
            font-weight: bold;
        }
        
        & a {
            color: white;
        }
    }
}

#p {
    text-transform: uppercase;
    font-family: bold;
    font-size: 16px;
    padding-bottom: 1rem;
}
@media(max-width: 426px) {
    #p {
        text-align: center;
        font-size: bolder;
        font-size: 30px;
    }
}

.footer-div3 {
    display: flex;
    gap: .5rem;

    & img {
        width: 3%;
    }
}
@media(max-width: 426px) {
    .footer-div3 {
        justify-content: center;
    
        & img {
            width: 10%;
        }
    }
}